body{
    background-color: #ddd;
}

#button{
    text-decoration: none;
}

#button:link {
    color: black;
}

#button:visited {
     color: black;   
}

header{
    width: 100%;
    background-color: blue;
}

h1{
 text-align: center;   
}

#CalendarHead{
    clear: both;
}

table{
    margin-bottom: 50px;
}

table, th, td{
     border: 1px solid #3C4049;   
}

th{
    background-color: #3C4049;
    color: white;
    font-size: 2em;
}

td{
    text-align: center;   
    font-size: 1.5em;
}

#landingImage{
    z-index: 2;
    position: absolute;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
    width: 100%;
    height: 600px;
    color: black;
}

#background{
    background-image: url("../images/backgroundpic.jpg");
    width: 100%;
    height: 600px;
     background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
     -webkit-filter: blur(4px);
    filter: blur(4px);
    background-color: white;
}

#getStarted{
    background-color: gray;
    font-size: 2rem;
    width: 300px;
    height: 75px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 5px;
    
    
}

#getStarted p{
    text-align: center;
    margin: 0 auto;
    padding-top: 20px
}

#getStarted:hover{
    cursor: pointer;
    
}

#content{
    width: 100%;
    height: 600px;
}

#sec1{
    width: 100%;
    height: 200px;
    background-color: white;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.icons{
    padding-top: 15px;
    width: 35%;
    height: 200px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   /* background-image: -webkit-linear-gradient(top, #555151 50%, #ADD8E6 50%);
    background-image: -webkit-linear-gradient(top, #555151 50%, #ADD8E6; 50%);
    background-image: linear-gradient(top, #555151 50%, #ADD8E6; 50%);*/
    background-color: #3C4049;
    background-size: 400%;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

#fcbook{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    background: url("../img/facebook.jpg") no-repeat;
}


#twitter{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    background: url("../img/twitter.jpg") no-repeat;
}

#gmail{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    background: url("../img/gmail.jpg") no-repeat;
}

.icons p{
    -webkit-transition: color 1s;
    transition: color 1s;
}

.icons i{
    color: #555151;
    -webkit-transition: color 1s;
    transition: color 1s;
}

div section p{
    font-size: 2rem;
    color: white;
    position: relative;
    margin: auto;
}


.icons:hover{
    background-position:  100%;
}

.icons:hover p{
    color: #ADD8E6;
}

.icons:hover i{
    color: black;
}



article{
    width: 100%;
    height: 500px;
}

article p{
    font-size: 1.4rem;
}

.pure-menu.pure-menu-open, .pure-menu.pure-menu-horizontal li .pure-menu-children{
    background-color: #453d3d;
    text-align: right;
}

/* Slide Show */
body {
	font-family:arial;	
}

img {
	border:0;
}

#slideshow-main {
	width:429px; 
	float: left;
	margin-right:3px;
}
        

#slideshow-main ul {
	margin:0; 
	padding:0; 
	width:429px;
}

#slideshow-main li {
	width:429px; 
	height:290px; 
	display:none;
	position:relative;
}

#slideshow-main li.active {
	display:block !important;
}

#slideshow-main li span.opacity {
	position:absolute;
	bottom:0; left:0;
	display:block; 
	width:100%;
	height:60px;
	background:#000;
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
	z-index:500;
}

#slideshow-main li span.content {
	position:absolute;
	bottom:0; left:0;
	display:block; 
	width:100%;
	height:60px;
	z-index:1000;
}

#slideshow-main li span.content h1 {
	font-size:14px;
	margin:5px 0;
	padding:0 10px;;
	color:#42e2e8;
}

#slideshow-main li span.content p {
	font-size:11px;
	margin:5px 0;
	padding:0 10px;;
	color:#42e2e8;
}

#slideshow-carousel {
	float:left; 
	width:206px;
	position:relative
}

#slideshow-carousel ul {
	margin:0; 
	padding:0;
	list-style:none;
}

#slideshow-carousel li {
	background:#fff; 
	height:97px; 
	position:relative
}

#slideshow-carousel li .arrow {
	left:3px; 
	top:28px; 
	position:absolute; 
	width:20px; 
	height:40px; 
	background:url(img/arrow_white.png) no-repeat 0 0; 
	display:block;
}

#slideshow-carousel li a {
	background:#000; 
	display:block; 
	width:206px; 
	height:95px;
}


#slideshow-carousel .active {
	filter:alpha(opacity=10); 
	-moz-opacity:1.0; 
	-khtml-opacity: 1.0; 
	opacity: 1.0;
}

#slideshow-carousel .faded {
	filter:alpha(opacity=50); 
	-moz-opacity:0.5; 
	-khtml-opacity: 0.5; 
	opacity: 0.5;
}


@media(max-width: 480px){

    
    #getStarted{
        font-size: 1.5rem;
        position: relative;
        top: 100px;
        height: 50px;
    }
    
    
}

@media(max-width: 640px){
    
    
    #getStarted{
        position: relative;
        top: 120px;
    }
}

@media(max-width: 768px){
    
    #getStarted{
        position: relative;
        top: 150px;
    }
}
    








